<container class="page">

     <h3>Edit your team name:</h3>

    <%= form_for @team do |f| %>
     
        <%= f.text_field :team_name %><br><br>        


        <%= f.submit "Update", :class => "team-submit" %>

    <% end %>

    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br>
    <%# (need to fix in CSS) %>

</container>