<container class="page">
    <h1>Welcome to Trivia!</h1>
    <h2>Select your team!</h2>

    <container class="teams">
        <% @teams.each do |team| %>
            <span class="each-team">
                <%= link_to team.team_name, team_path(team) %>
            </span>
        <% end %>
        <br>
        <br>
    </container>
    <br><br><br><br>

    <%= link_to "Create New Team", rounds_path %>
    
</container>