<h1>Welcome to Trivia!</h1>
<h2>Select your team!</h2>

<% @teams.each do |team| %>
    <%= link_to team.team_name, team_path(team) %><br>
<% end %>
<br>
<br>
<%= link_to "Start New Game", rounds_path %>