// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-page {
    padding: 80px 100px 100px 80px;
}

// .categories {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: baseline;
//     align-content: space-between;
//     justify-content: space-evenly;
//     border-style: solid;
//     background-color:  rgb(171, 208, 250);
//     // max-width: 70%;
//     padding: 100px 200px 100px 200px;
// }

.each-category {
    // font-size: 30px;
    display: flex;
    justify-content: center;
    // align-content: center;
    border: 2px solid;
    border-radius: 5px;
    padding: 30px;
    font-size: 20px;
    background-color:    #A8E0FF;
    margin: 10px;
    list-style: none;
    box-shadow: 2px 2px 4px rgb(155, 157, 168);
    // background-image: linear-gradient(to bottom right, rgb(211, 231, 250), rgb(255, 255, 255));
    opacity: 0.92;
}
.each-category a {
    font-size: 30px;
}
.team-form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    // align-content: space-between;
    justify-content: space-evenly;
    border-style: solid;
    background-color:  rgb(171, 208, 250);
    // max-width: 70%;
    padding: 100px 200px 100px 200px;
}

input {
    display: flex;
    width: 500px;
    padding: 6px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
  
    text-align: center;
}

#team_team_name {
    width: 400px;
    box-shadow: 2px 2px 4px rgb(155, 157, 168);
}