// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-page {
    padding: 80px 100px 100px 80px;
}

// .categories {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: baseline;
//     align-content: space-between;
//     justify-content: space-evenly;
//     border-style: solid;
//     background-color:  rgb(171, 208, 250);
//     // max-width: 70%;
//     padding: 100px 200px 100px 200px;
// }

.each-category {
    display: flex;
    justify-content: center;
    // align-content: center;
    border: 2px solid;
    border-radius: 5px;
    padding: 30px;
    font-size: 20px;
    background-color: #A8E0FF;
    margin: auto;
    list-style: none;
}